<head>
<link rel="stylesheet" href="/assets/index.css"/>
</head>
<body>
<div class="top">
    
    リンク一覧
</div>
<div class="contents" >
<% @links.each do |f|%>
    <div class="link">
        <div class="add">
            <%= link_to link_path(f.id),method: :delete, data: { confirm: '削除しますか？' } do %>
            <div class="destroy">×</div>
            <% end %>
            <%= link_to edit_link_path(f.id) do %><div class="edit"></div><% end %>
            <div class="add_text"><%= f.tag.tag_name %></div>
        </div>
        <div class="up">
            <div class="url"><%= link_to f.name, "#{f.url}",target: :_blank %></div>
        </div>
        <div class="down">
        <%= f.text %><br>
        </div>
        
    </div>
<%end%>
</div>
</body>